.Addresses {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.Addresses h2 {
  align-self: flex-start;
  margin: 30px 0;
}
.Addresses .addressCategory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  margin: 0;
}
.Addresses .addressCategory > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Addresses .addressCategory > div h3 {
  margin-bottom: 20px;
}
.Addresses .addressCategory > div .addressList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.Addresses .addressCategory .address {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  overflow-y: auto;
}
.Addresses .addressCategory .address div {
  display: flex;
}
.Addresses .addressCategory .address div p {
  text-decoration: underline;
  padding-right: 10px;
  cursor: pointer;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.Addresses .addressCategory .address div :nth-child(2) {
  padding-left: 10px;
  border: none;
}
.Addresses .addressCategory .address h3 {
  margin-bottom: 20px;
}
.Addresses button {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 250px;
  outline: none;
  border: 1px solid #121212;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #121212;
  transition: 0.2s;
  cursor: pointer;
  color: #fff;
  margin: 30px 0;
  align-self: flex-start;
}
.Addresses button:hover {
  background-color: #121212;
  color: #fff;
}
.Addresses .inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  margin: 30px 0;
}
.Addresses .inputs .twoInput {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Addresses .inputs .twoInput > div {
  width: 47%;
}
.Addresses .inputs > div {
  width: 100%;
  margin-bottom: 20px;
}
.Addresses .cancel {
  align-self: flex-start;
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 850px) {
  .Addresses .addressCategory {
    grid-template-columns: 1fr;
  }
  .Addresses .inputs {
    width: 100%;
  }
  .Addresses button {
    margin-top: 0;
    font-size: 14px !important;
    width: auto;
  }
  .Addresses .addressCategory .address {
    height: auto;
    margin-bottom: 20px;
  }
}
