.Navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.Navbar a {
  text-decoration: none;
  color: #121212;
  text-transform: uppercase;
}
.Navbar .top {
  width: 100%;
  display: grid;
  padding: 35px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.Navbar .top .search {
  display: flex;
  align-items: center;
}
.Navbar .top .search svg {
  width: 22px;
}
.Navbar .top .search input {
  outline: none;
  border: none;
  color: #999;
  padding: 0 0 0 15px;
  /* border-bottom: 1px solid #999;  */
  font-size: 16px;
  letter-spacing: 1px;

  width: 200px;
}
.Navbar .top .logo {
  justify-self: center;
  letter-spacing: 2px;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}
.Navbar .top .accCart {
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
}
.Navbar .top .accCart a {
  display: flex;
  align-items: flex-end;
  margin: 0 20px;
}
.Navbar .top .accCart a span {
  white-space: nowrap;
}
.Navbar .top .accCart a > svg {
  margin-left: 7px;
}
.Navbar .bottom {
  width: 80%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}
.Navbar .bottom > a {
  padding: 20px 20px;
  white-space: nowrap;
}
.Navbar .menu {
  display: none;
}
@media (max-width: 1340px) {
  .Navbar .bottom {
    width: 95%;
  }
}
@media (max-width: 1125px) {
  .Navbar .bottom > a {
    padding: 20px;
  }
}
@media (max-width: 1080px) {
  .Navbar .menu {
    display: block;
  }
  .Navbar .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Navbar .menu span {
    font-size: 17px;
  }
  .Navbar .top {
    padding: 20px;
  }
  .Navbar .top .search svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .Navbar .top .accCart a {
    margin: 0 5px;
  }
  .Navbar .hide {
    display: none;
  }
  .Navbar .bottom {
    position: fixed;
    top: 0;
    left: -100%;
    background: #dde6ef;
    height: 100vh;
    width: 300px;
    overflow-y: auto;
    flex-direction: column;
    padding: 20px 20px;
    justify-content: flex-start;
    transition: 0.5s;
  }
  .Navbar .visibleBottom {
    left: 0;
  }
  .Navbar .bottom .crossIcon {
    margin-bottom: 20px;
    cursor: pointer;
  }
  .Navbar .bottom .fullWidth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .Navbar .bottom .fullWidth span {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
  }
  .Navbar .bottom > a {
    border-bottom: 2px solid #fff;
    padding: 20px 0px;
  }
  .Navbar .bottom .innerItem {
    padding: 10px;
  }
}
@media (max-width: 468px) {
  .Navbar .menu span {
    display: none;
  }
  .Navbar .top {
    padding: 8px;
  }

  .Navbar .top .accCart a {
    margin: 0 2px;
  }
}
