.animatedHero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #fef5ea70; */
  background-color: #eeeeee50;
  position: relative;
  overflow: hidden;
}

.animatedHero h1 {
  font-size: 180px;
  color: #000;
  text-shadow: 10px 15px 10px rgba(17, 12, 46, 0.25);
  font-family: "westiva-bold";
  line-height: 170px;
}

.animatedHero h1 span:first-of-type {
  margin-left: 90px;
  /* line-height: 120px; */
}

.animatedHero h1 span:not(:first-of-type) {
  /* display: block; */
  /* line-height: 120px; */
  font-family: "westiva-bold";
}

.animatedHero p {
  color: #666;
}

.animatedHero .searchBox {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
  gap: 20px;
  min-width: 50%;
  margin-top: 60px;
  background-color: #fff;
  position: relative;
  z-index: 99;
}

.animatedHero .searchBox input {
  all: unset;
  flex: 1;
  height: 40px;
}

.animatedHero .searchBox i {
  font-size: 18px;
}

.animatedHero .searchBox button {
  all: unset;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.animatedHero .ball {
  display: block;
  background: black;
  border-radius: 50%;
  margin: 0;
}

.animatedHero .ball.top-left {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 120px;
  left: 180px;
  background: radial-gradient(circle at 25px 25px, #ffd700, #333);
}

.animatedHero .ball.bottom-right {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 50px;
  right: 250px;
  background: radial-gradient(circle at 60px 60px, #ffd700, #333);
}

.animatedHero .ball.top-right {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 150px;
  right: 100px;
  background: radial-gradient(circle at 10px 10px, #ffd700, #333);
}

.animatedHero .ball.bottom-left {
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: -200px;
  left: -150px;
  background: radial-gradient(circle at 120px 120px, #ffd700, #333);
}

/* .animatedHero .ball:before {
  content: "";
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 200;
  background: rgb(133, 111, 1);
  background-blend-mode: multiply;
}

.animatedHero .ball:after {
  content: "";
  position: absolute;
  margin: auto;
  width: 150px;
  height: 100px;
  z-index: 100;
  right: 30px;
  top: 25px;
  border-radius: 50%;
  transform: rotate(20deg);
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(15px);
} */
