.Profile {
  color: #121212;
  width: 100%;
}
.Profile .welcome {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background-color: #f4f4f4;
  font-size: 60px;
}
.Profile .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.Profile .container > .left {
  width: 20%;
  padding: 20px;
  padding-left: 30px;
  padding-top: 0;
  position: sticky;
  top: 0px;
  height: 50vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.Profile .container .left p {
  text-transform: uppercase;
  cursor: pointer;
  margin: 30px 0;
  font-size: 18px;
}
.Profile .container .right {
  width: 80%;
}
