.Profile {
  color: #121212;
  width: 100%;
}
.Profile .welcome {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background-color: #f4f4f4;
  font-size: 60px;
}
.Profile .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.Profile .container > .left {
  width: 20%;
  padding: 20px;
  padding-left: 30px;
  padding-top: 0;
  position: sticky;
  top: 0px;
  height: 50vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.Profile .container .left p {
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  padding: 20px 10px;
  font-size: 18px;
}
.Profile .container .right {
  width: 80%;
  padding: 0 80px;
}
.Profile .container .left p.active {
  background-color: #f4f4f4;
  border-bottom: 1px solid #bdb7b7;
}
@media (max-width: 1080px) {
  .Profile .container .right {
    padding: 0 20px;
    width: 83%;
  }
  .Profile .container > .left {
    width: 17%;
  }
}
@media (max-width: 850px) {
  .Profile .container {
    flex-direction: column;
  }
  .Profile .container .right {
    width: 100%;
  }
  .Profile .container > .left {
    position: static;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    padding: 0;
  }
  .Profile .container .left p {
    margin: 0;
    text-align: center;
    padding: 15px;
  }
  .Profile .welcome {
    padding: 50px 0;
    font-size: 30px;
  }
}
