.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.nutuyu-card {
  height: 380px;
  margin: 1px;
  position: relative;
  overflow: hidden;
}

.nutuyu-card img {
  height: 100%;
  object-fit: contain;
}

.nutuyu-card .date {
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.nutuyu-card:hover .date {
  transform: translateY(0);
  transition: transform 0.3s;
}

.post_modal {
  width: 800px;
  height: 500px;
  display: flex;
  align-items: stretch;
  background-color: #fff;
}

.post_modal .image {
  width: 55%;
  height: 100%;
  background-color: #000;
}

.post_modal .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.post_modal .comments-container {
  width: 45%;
  border-left: 1px solid rgb(239, 239, 239);
}

.post_modal .comments-container .user {
  padding: 10px 15px;
  width: 100%;
  font-weight: 500;
  border-bottom: 1px solid rgb(239, 239, 239);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_modal .comments-container .user img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 10px;
}

.post_modal .comments-container .user p {
  margin-top: -3px;
}

.post_modal .comments-container .user div {
  color: #aaa;
  cursor: pointer;
  margin-left: auto;
  padding: 5px;
}

.post_modal .comments-container .comments {
  padding: 10px 15px;
  height: calc(100% - 95px);
  overflow-y: auto;
  margin-right: 1px;
}

.post_modal .comments-container .comments::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  scroll-behavior: smooth;
  background-color: #ddd;
}

.post_modal .comments-container .comments::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}

.post_modal .comments-container .comments .no_comments {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: -10px;
  color: #888;
  text-align: center;
}

.post_modal .comments-container .add-comment {
  display: flex;
  align-items: stretch;
  height: 40px;
  border-top: 1px solid rgb(239, 239, 239);
}

.post_modal .comments-container .add-comment i {
  align-self: center;
  padding-left: 15px;
  color: #555;
  cursor: pointer;
}

.post_modal .comments-container .add-comment input {
  all: unset;
  flex: 1;
  padding: 5px 15px;
  font-size: 12px;
}

.post_modal .comments-container .add-comment button {
  all: unset;
  padding: 0 15px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(0, 149, 246);
  cursor: pointer;
}

.post_modal .comments-container .add-comment ::placeholder {
  color: #989898;
}
@media (max-width: 660px) {
  .post_modal {
    width: 95%;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto;
  }
  .post_modal .image {
    width: 100%;
    height: 70%;
  }
  .post_modal .comments-container {
    width: 100%;
    height: -webkit-fill-available;
  }
}
